version: '{build}'  # This version number is used by AppVeyor to identify the build, NOT the version of the software

environment:
  VERSION: 3.4.7
  TARGET_CONFIGURATION: Release

image: Visual Studio 2022

platform: Any CPU

branches:
  only:
    - master

only_commits:
  message: /build/
#  files:
#    - src/*

before_build:
- cmd: >-
    dotnet --version

build_script:
- cmd: >-
    dotnet pack .\src\Thingsboard.Net.Abstractions -c %TARGET_CONFIGURATION% -p:VersionPrefix=%VERSION%
    
    dotnet pack .\src\Thingsboard.Net.Flurl -c %TARGET_CONFIGURATION% -p:VersionPrefix=%VERSION%

    dotnet pack .\src\Thingsboard.Net.Flurl.DependencyInjection -c %TARGET_CONFIGURATION% -p:VersionPrefix=%VERSION%      

artifacts:
  - path: "src/**/*.nupkg"
    name: "NuGet Packages"

deploy:
  - provider: NuGet
    api_key:
      secure: m281r1dMaWVDTd7j0coGCGUQDUBjgBuvmV1d9iD7ueI1AaME/Xx2t7GK3ox/z4UP
    artifact: /.*\.nupkg/
